/* .modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(71, 71, 71, 0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
} */

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(71, 71, 71, 0.8);
  z-index: 40;
}

.modal-content {
  position: relative;
  z-index: 60;
  background: #0c0ea3;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}


.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}